@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
   
    
}
  header{
    background-color: black;
    height: 100px;
    width: 100%;
    position: fixed;
   z-index: 999;
   display: flex;
   align-items: center;
   box-shadow: 1px 1px 10px black ;
   justify-content: space-between;
   padding: 10px 200px;
  }
 .logo{
    width: 90px;
    margin-left: -100px;
    display: inline-block;

  }

  
  
  .links a{
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;

  }
  .links a:hover{
    color: blueviolet;
    
  }
  section{
    padding: 200px 150px;
  }
  .main{
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    display: block;
    background-image: url(zodiac/two.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
  }
   .main h2 {
    color: rgb(28, 28, 28);
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 0%;

   }
   .main h1{
    color: rgba(6, 85, 202, 0.405);
    font-size: 3em;
    font-weight: 800;
    padding-top: 20px;
   }

   .main h3{
    color: rgb(28, 28, 28);
    font-size: 1.5em;
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 1.5em;
   }
 span{
    color:rgba(6, 85, 202, 0.405) ;
    font-weight: 500;
 }
.view {
    color: black;
    background-color:rgba(6, 85, 202, 0.405) ;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.4s;

 }
.view:hover{
    background-color:rgba(3, 64, 155, 0.405) ;
    transform: scale(1.1);
}
.social-icons a{
    padding-right: 30px; 
    font-size: 1.3em;
}

.instagram{
color: black;

}



.social-icons .instagram :hover{
    transform: scale(1.1);
    color: brown;
    transition:0.4s ;
}
.facebook{
    color: black;
    }
.social-icons .facebook :hover{
    transform: scale(1.1);
    color: rgb(27, 27, 205);
    transition: 0.4s;
}
.twitter {
  color: black;
}
 .social-icons .twitter :hover{
  transform: scale(1.1);
  color: rgb(53, 132, 249);
  transition: 0.4s;
}
 
